.jumbotron {
  background-color: #ffffff;
  color: #000000;
  margin-top: 55px;
  margin-bottom: 0px;
}

#carouselControls {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  margin-top: 20px;
}

.cover-image {
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
  object-fit: cover;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #efeeb8;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 5px;
}

.button-icon {
  margin-right: 5px;
}

.index-form {
  margin-top: 30px;
}

/*# sourceMappingURL=styles.css.map */
