@yellow: #efeeb8;
@black: #000000;

.margenes(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @yellow;
  color: @black;
  .margenes(55px);
}

#carouselControls {
  .margenes(10px, 10px);
}

.container {
  margin-top: 20px;
}

.cover-image {
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
  object-fit: cover;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  color: @black;
  .margenes(10px);
}

.card-hotel {
  flex: 1 200px;
  .margenes(10px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 5px;
}

.button-icon {
  margin-right: 5px;
}

.index-form {
  margin-top: 30px;
}
