$yellow: #ffff00;
$red: #ff0000;
$green: #00ff00;
$black: #000000;
$white: #ffffff;

@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
  background-color: #ffffff;
  color: $black;
  @include margenes(55px, 0px);
}

#carouselControls {
  @include margenes(10px, 10px);
}

.container {
  margin-top: 20px;
}

.cover-image {
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
  object-fit: cover;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: $yellow;
  color: $black;
  @include margenes(10px, 0px);
}

.card-hotel {
  flex: 1 200px;
  @include margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 5px;
}

.button-icon {
  margin-right: 5px;
}

.index-form {
  margin-top: 30px;
}
